<% title "LJMU Staff Holiday Booking System" %>

<script type="text/javascript" src="/javascripts/prototype.js"> </script>
<script type="text/javascript" src="/javascripts/window.js"> </script>

<p><%= link_to "Submit New Holiday Request", new_holiday_path %></p>
<hr>
<br>
<div di="hold">
<table id="hols">
        <tr>
			      <th>Username</th>
			      <th>Number of Days</th>
			      <th>Approved</th>
			  </tr>
        <% @holidays.each do |holiday| %>
				<tr>
				  <td><%= link_to holiday.user.username, holiday %></td>
				  <td><%= holiday.number_of_days %></td>
				  <td><%= holiday.approved %></td>
				</tr>
				<% end %>		  
</table>
</div>

<br>
<hr>
<p><%= link_to "Submit New Holiday Request", new_holiday_path %></p>
<p><a id="rss" href="/holidays.atom" rel="alternate" title="ATOM" type="application/atom+xml" /><img src="/images/rss.png"></img></a><p>

			 
