<% title "LJMU Staff Holiday Booking System" %>


<% if current_user.admin == true %>
<p>Click on one of the usernames below to see more details of the holiday request and to approve holidays.</p>
<% else %>
<p><%=h link_to "Submit New Holiday Request", new_holiday_path %></p>
<% end %>

<hr>
<br>

<table id="hols">
        <tr>
			      <th>Username</th>
			      <th>Number of Days</th>
			      <th>Approved?</th>
			  </tr>
			  <% for holiday in @holidays %>
				<tr>
				  <td><%= link_to holiday.user.username, holiday %></td>
				  <td><%= holiday.number_of_days %></td>
				  <td><%= holiday.approved %></td>
				</tr>
				<% end %>		 
				 
</table>

<%= will_paginate @holidays %>


<br>
<p><a id="rss" href="/holidays.atom" rel="alternate" title="ATOM" type="application/atom+xml" /><img src="/images/rss.png"></img></a><p>

